.spinner {
  display: inline-block;
  border-radius: var(--c-radius-pill);
  border-style: solid;
  border-color: var(--color-border);
  animation: spinner-rotate 0.65s linear infinite;
}

.primary {
  border-top-color: var(--color-primary);
}
.neutral {
  border-top-color: var(--color-fg-muted);
}

.sm {
  width: 48px;
  height: 48px;
  border-width: 6px;
}
.md {
  width: 66px;
  height: 66px;
  border-width: 7.5px;
}
.lg {
  width: 96px;
  height: 96px;
  border-width: 9px;
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
